# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/easydoser-frontend/node_modules

# testing
/easydoser-frontend/coverage

# production
/easydoser-frontend/build

# npmjs
/easydoser-frontend/dist

# misc
/easyDoser-frontend/.DS_Store
/easyDoser-frontend/.env.local
/easyDoser-frontend/.env.development.local
/easyDoser-frontend/.env.test.local
/easyDoser-frontend/.env.production.local

/easyDoser-frontend/npm-debug.log*
/easyDoser-frontend/yarn-debug.log*
/easyDoser-frontend/yarn-error.log*

/easydoser-frontend/package-lock.json

# server
/easyDoser-server/easyDoser-server
/easyDoser-server/cc.json
/easyDoser-server/commit.json
/easyDoser-server/config.json
/easyDoser-server/config_block.pb
/easyDoser-server/paths.txt
/Easedoser.code-workspace